<% provide(:title, 'About') %>
<h1>About</h1>

<h3>Owner of the site: Kutay Demireren</h3>
<h3>Contact at: kutay.demireren@outlook.com</h3>

<h4>Too excited to start? Okay, lets begin than;</h4>
<p>You can begin with creating a user with following
  <%= link_to 'this link', signup_path %> or a vocise with following
  <%= link_to 'this link', new_vocise_path %> </p>
