<% provide(:title, 'Home') %>
<div class="center jumbotron">
<h1>Vocision</h1>
<h3>Uncertainty? Vote for decision</h3>

<p> This is an application where you can decide with asking your friends.
  Instead of asking everyone individually, why don't you just ask from this app?
  Simple to use, simple to ask.</p>

  <% unless logged_in? %>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  <% end %>


  <h5>Learn the details in  <%= link_to 'About', about_path %> page.</h5>

<h5><%= link_to 'Need Help?', help_path %></h5>
</div>