<% provide(:title, 'Edit Account') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', user: @user%>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= link_to 'Profile', @user %> |
<%= link_to 'Back to Users', users_path %>
  </div>
</div>

