<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <h5>
      <strong>Name:</strong> <%= @user.name %>
    </h5>

    <h5>
      <strong>Surname:</strong> <%= @user.surname %>
    </h5>

    <h6>
      <strong>Email:</strong> <%= @user.email %>
    </h6>
  </aside>

  <div class="col-md-8">
    <% if @user.vocises.any? %>
        <h3>Vocises (<%= @user.vocises.count %>)</h3>
        <ol class="vocises">
          <%= render @vocises %>
        </ol>
        <%= will_paginate @vocises %>
    <% end %>
  </div>
</div>

<br>
<% if current_user?(@user) %>
    <%= link_to 'Create New Vocise!', new_vocise_path, class: 'btn btn-md btn-primary' %>
    <br>
    <br>
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>
