<%= form_for(vocise, html: { multipart: true }) do |f| %>
    <% if vocise.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(vocise.errors.count, "error") %> prohibited this vocise from being saved:</h2>

          <ul>
            <% vocise.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :is_private %>
    <%= f.check_box :is_private %>

    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


<script type="text/javascript">
    $('#vocise_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>
