<li id="vocise-<%= vocise.id %>">
  <strong>
    <span class="user"><%= link_to vocise.user.username, vocise.user %></span>
  </strong>
  <span class="name"><%= link_to vocise.name, vocise %></span>
  <span class="timestamp" style="font-size: smaller">
    Posted <%= time_ago_in_words(vocise.created_at) %> ago.
    <% if current_user?(vocise.user) %>
      <%= link_to 'Destroy', vocise, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </span>
</li>