<% provide(:title, 'Edit Vocise') %>
<% provide(:button_text, 'Update') %>
<h1>Edit Vocise</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', vocise: @vocise %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Show', @vocise %>
  </div>
</div>

