<% provide(:title, 'New Vocise') %>
<% provide(:button_text, 'Create New Vocise') %>
<h1>New Vocise</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', vocise: @vocise %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', current_user %>
  </div>
</div>
