<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vocise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vocise.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @vocise.user.username %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @vocise.is_private %>
</p>

<p>
  <%= image_tag @vocise.picture.url if @vocise.picture? %>
</p>

<%= link_to 'Edit', edit_vocise_path(@vocise) %>