<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/">Vocision App</a>
    by <a href="https://www.linkedin.com/in/kutay-demireren">Kutay Demireren</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Help',   help_path %></li>
      </ul>
  </nav>
</footer>